@import "tailwindcss";


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
label {
    user-select: none;
}

#container {
    padding-top: 20px;
    margin-top: 10px;
}

#container::-webkit-scrollbar {
    background: #161616;
    width: 5px;
    cursor: pointer;
}

#container::-webkit-scrollbar-thumb {
    background-color: rgb(135, 135, 135);
    border-radius: 10px;
    cursor: pointer;
}

#informacoesAdicionais {
    margin-top: 30px;
    margin-bottom: 20px;
}


.addInput {
    display: flex;
    flex-direction: column-reverse;
    padding: 5px;
    flex-basis: 50%;
}


.addInput input,
.textareaInput {
    background-color: gray;
    outline: none;
    padding: 5px;
    color: black;
    border-radius: 2px;
    box-shadow: rgba(0, 0, 0, 0.301) 1px 2px 2px;
}

.addInput input:hover,
.addInput input:focus,
input:not(:placeholder-shown, [type="date"], [type="submit"]),
.textareaInput:hover,
.textareaInput:focus,
.textareaInput:not(:placeholder-shown) {
    background-color: rgb(194, 194, 194);

}

.addInput input:focus+label,
.textareaInput:focus+label {
    width: fit-content;
    color: rgb(255, 226, 109);
    transition: all 1s;
}

.addInput input:not(:placeholder-shown, [type="date"], [type="checkbox"])+label,
.textareaInput:not(:placeholder-shown)+label {
    color: darkorange;
}

#extras {
    margin-top: 10px;
    padding-left: 5px;
}

.blocosAdicionais {
    margin: 10px 0px;
    padding: 10px;
}

@media (max-width: 564px){
    h1{
        font-size: 30px;
    }

    .responsividadeDate{
        flex-basis: 100%;
    }.responsividadeDate input{
        width: 50% !important;
    }


    .addInput:not(:has(input[type="date"])), .addInput textarea{
        flex-basis: 100%;
        width: 100%;
    }

    .addInput input[type="date"] {
        width: 90%;
    }
    
    .addInput:has(input[type="date"]){
        align-items: center;
        align-self: center;
    }

    

}